Source: kodi-audiodecoder-sidplay
Priority: extra
Maintainer: Arne Morten Kvarving <cptspiff@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, kodi-audiodecoder-dev,
               kodi-addon-dev, libkodiplatform-dev, libsidplay2-dev,
               libresid-builder-dev
Standards-Version: 3.9.2
Section: libs

Package: kodi-audiodecoder-sidplay
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SidPlay audio decoder for Kodi
  SidPlay audio decoder for Kodi

Package: kodi-audiodecoder-sidplay-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for SidPlay audio decoder for Kodi
  debug symbols for SidPlay audio decoder for Kodi
